<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body style="background-image: linear-gradient(white, #0000b3);">
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="border:1px solid white">
        <a class="navbar-brand" style="margin-left:20px;" href="#">
            <img src="{% static 'img/aave-aave-logo.png' %}" width="40" height="40" class="d-inline-block align-top"
                 alt=""/>
        </a>
        <span class="navbar-brand mb-0 h1 text-light">Travello</span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="text-light">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Pricing</a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <font face="Roboto Condensed" size="4">
            <center>
                <div class="container">
                    <div class="row" style="margin-top: 7px;">
                        <p class="text-light"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &copy; Copyright Subash 2021.</p>
                    </div>
                    <div class="bottom-footer">
                        <div class="col-md-12">
                            <ul class="footer-nav">
                                <a class="text-light" href="https://www.facebook.com/"> Facebook </a>
                                </br>
                                <a class="text-light" href="https://twitter.com/"> Twitter </a>
                                </br>
                                <a class="text-light" href="https://plus.google.com/"> Google+ </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </center>
        </font>
    </footer>
</div>
</body>
</html>